<form action="/adminData" method="POST">

<html>
    <head>
    <h1>
        <center><b> Welcome  Admin</b>
        </center>
    </h1>
    </head>
    <body>
        <label>Announcement: </label>
        <input type="text" placeholder="" name="Announcement"><br>
        <button>Submit</button>
        <h1>Holidays Start from February  1st 2023</h1>

        <a href = '/adminLogin'>Admin Logout</a>
    </body>
</html>
