     Welcome to <%= title %>

 <li><a href ='/userRegister'>User Register Form</a><br></li>
 <li><a href ='/userlogin'>User Login</a><br></li>
 <li><a href ='/adminRegister'>Admin Register Form</a><br></li>
 <li><a href ='/adminLogin'>Admin Login</a></li>

 

