<h1>Welcome to  Refrigerators</h1>
<% if (title) { %>
 <h3><%=title%> <br> Refrigerator Model is  <%=  model %> <br> Price is <%=price%></h3>
<% } else{%>
  <h1> Model number of <%=title%> is not mentioned </h1>
  <%}%>
