<%- include ('./partials/header')-%>
<form action="/addNewData" method="POST">
    <!-- Creating the parameter Username as type= "text"-->

    
    <label>Name: </label>
    <input type="text" placeholder="Enter your Bike Name" name="name"><br><br>
    <label>company: </label>
    <input type="text" placeholder="" name="company"><br><br>
    <label>FuelType: </label>
    <input type="text" placeholder="" name="FuelType"><br><br>
    <label>capacity: </label>
    <input type="text" placeholder="" name="capacity"><br><br>
    <!-- Creating the submit button -->
    <button>Submit</button>
</form>
