<h1> Welcome </h1>

<li><a href ='/getData'>Show Data</a><br></li>
<li><a href = '/login'> Logout</a></li>
<form method = 'POST' action = '/dropData' >

    <label for="company">Choose a  company:</label>
    <select name="company" id="company">
      <option value="Royal">Royal</option>
      <option value="Enfield">Enfield</option>
      <option value="Yamaha">Yamaha</option>
      <option value="Hero">hero</option>
      <option value="Duke">Duke</option>
      <option value="Honda">honda</option>
      <option value="TVS">TVS</option>
      <option value="Honda">Honda</option>
      <option value="Hero Honda">Hero Honda</option>
      <option value="Bajaj">Bajaj</option>
      <option value="bajaj">bajaj</option>
      <option value="RoyalEnfield">RoyalEnfield</option>
    </select>
    <br>
 

 
    <label for="fueltype">Choose a fueltype:</label>
    <select name="fueltype" id="fueltype">
      <option value="Petrol">Petrol</option>
      <option value="Diesel">Diesel</option>
    </select>
    <br>
    
 
    <button>Submit</button>
</form>
    