<form action="/addNewData" method="POST">
    <!-- Creating the parameter Username as type= "text"-->

    <label>name: </label>
    <input type="text" placeholder="Enter your Bike Name" name="name"><br><br>
    <label>company: </label>
    <input type="text" placeholder="Enter Company name" name="company"><br><br>
    <label>fueltype: </label>
    <input type="text" placeholder="Enter Fuel type" name="fueltype"><br><br>
    <label>capacity: </label>
    <input type="text" placeholder="Enter fuel capacity" name="capacity"><br><br>
    <!-- Creating the submit button -->
    <button>Submit</button>
</form>
